%h1 Listing contents

%table
  %tr
    %th Content
    %th Level
    %th Order
    %th Book
    %th
    %th
    %th

  - @contents.each do |content|
    %tr
      %td= content.content
      %td= content.level
      %td= content.order
      %td= content.book_id
      %td= link_to 'Show', content
      %td= link_to 'Edit', edit_content_path(content)
      %td= link_to 'Destroy', content, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Content', new_content_path
