.col-sm-6
  %fieldset
    .panel.panel-default
      .panel-heading.panel-handle.panel-colorize
        .panel-title
      .panel-body-collapse.collapse.in
        .panel-body
          .form-group.form-inline
            = f.text_field :content, class: 'form-control', placeholder: 'Content'
            = link_to_remove_association f, class: 'btn btn-sm btn-danger' do
              = icon 'ban'
          .form-group
            %h5 Sections
          .form-group
            = f.fields_for :sections do |section|
              = render 'section_fields', f: section
          .form-group
            = link_to_add_association f, :sections, class: 'btn btn-sm btn-primary' do
              %span
                = icon 'plus'
                Section