= form_for @book, html: {role: 'form', class: 'form'} do |f|
  - if @book.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'alert', type: 'button'} ×
      %h4= "#{pluralize(@book.errors.count, 'error')} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    .input-group
      %span.input-group-addon
        = icon 'bookmark-o'
      = f.text_field :title, class: 'form-control', placeholder: 'Title'
  %h4 Contents
  .form-group
    .row
      = f.fields_for :contents do |content|
        = render 'content_fields', f: content
  .form-group
    = link_to_add_association f, :contents, class: 'btn btn-default' do
      %span
        = icon 'plus'
        Content
    = f.submit class: 'btn btn-success' do
      %span
        = icon 'save'
        Save
