%fieldset
  .tab-1
    .form-group.form-inline
      = f.text_field :title, class: 'form-control', placeholder: 'Title'
      = link_to_remove_association f, class: 'btn btn-sm btn-danger' do
        = icon 'ban'
    .form-group
      %h5 Subsections
    .form-group
      = f.fields_for :subsections do |subsection|
        = render 'subsection_fields', f: subsection
    .form-group
      = link_to_add_association f, :subsections, class: 'btn btn-sm btn-primary' do
        = icon 'plus'